{% extends 'base.html' %}
{% load my_tags %}

{% block title %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Блог: {{ blogs.head }}</h3>
</div>
{% endblock %}

{% block content %}
<div class="col-3">
    <article class="card" style="width: 18rem;">
        <img src="{{ blogs.image | media_filter }}" class="card-img-top" alt="{{ blogs.head }}">
        <div class="card-body">
            <h5 class="card-title">{{ blogs.head }}</h5>
            <p class="card-text">{{ blogs.content }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Описание: {{ blogs.content }}</li>
            <li class="list-group-item">Просмотры: {{ blogs.views }}</li>
        </ul>
        <div class="card-body">
            <a href="{% url 'blogs:blog_update' object.pk %}" class="card-link">Редактировать</a>
            <a href="{% url 'blogs:blog_delete' object.pk %}" class="card-link">Удалить</a>
        </div>
    </article>
</div>
{% endblock %}