{% extends 'base.html' %}
{% load my_tags %}
{% block title %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Список товаров в группе</h3>
</div>
{% endblock %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
{% for product in categories %}
    <div class="col">
      <div class="card w-75" >
        <img src = "{{ product.image | media_filter }}" class="card-img-top" alt="{{ product.name }}" height = 300>
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description|truncatechars:100|default:"Описание отсутствует"}}</p>
            </div>
          {% if user.is_authenticated %}
            <a href="{% url 'catalog:details_product' product.pk %}" class="btn btn-sm btn-block btn-outline-primary">Полная информация</a>
            {% if user == product.owner %}
            <a href="{% url 'catalog:update_product' product.pk %}" class="btn btn-sm btn-block btn-outline-primary">Редактировать</a>
            {% endif %}
            {% if user == product.owner or perms.catalog.can_delete_any_product %}
            <a href="{% url 'catalog:delete_product' product.pk %}" class="btn btn-sm btn-block btn-danger">Удалить</a>
            {% endif %}
          {% else %}
          <p>Пройдите регистрацию</p>
          {% endif %}

      </div>
    </div>
{% endfor %}
    </div>
</div>
{% endblock %}