{% extends 'base.html' %}

{% block title %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Продукт: {{ object.name }}</h3>
</div>
{% endblock %}

{% block content %}
<div class="bd-example m-0 border-0"> <div class="card" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title">Удалить {{ object.name }}?</h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <button class="btn active btn-danger" type="submit">Удалить</button>
        <a class="btn active" type="submit" href="{% url 'catalog:products_list' %}">Назад</a>
    </form>
  </div>
</div> </div>


{% endblock %}