{% extends 'base.html' %}

{% block title %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Редактирование продукта</h3>
</div>
{% endblock %}

{% block content %}
<div class="bd-example m-0 border-0">
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_p }}

                <button class="btn active" type="submit">
                    Сохранить
                </button>
            </form>

            <form method="post" action="{% url 'catalog:product_delete' object.pk %}" style="display:inline;">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit" >
                    Удалить
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}